<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello World Example</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script defer src="./app.js"></script>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div id="app">
            <h1>INTERPOLATION</h1>
            <p class="message"> {{message}}</p>
            <p  class="message-bind" v-text="message"></p>
            <p class="message-html" v-html="miHTML"></p>
            <br />
            <ul>
                <li>
                    <h2>Methods</h2>
                    <p class="calculations">Suma -> Var a: {{ numeroA }} + Var b: {{ numeroB }} = <span>{{ sumarAyB() }}</span></p>
                </li>
                <li>
                    <h2>Computed</h2>
                    <p class="calculations">Suma -> Var a: {{ numeroA }} + Var b: {{ numeroB }} = <span>{{ sumarAyBComputed }}</span></p>
                    <p class="calculations">Duplicar -> Var c: {{ numeroC}} = <span>{{duplicarC}}</span></p>
                </li>
            </ul>

            <h1>BINDING</h1>
            <img :src="imageSrc" :alt="imageAlt" />
            <br />
            <button @click="onClick()">Click me!</button>
            <br /><br /><br />
            <input type="text" v-model="textP"/>
            <p>{{textP}}</p>
            <br />  <br />  <br />  <br />

            <h1>DATA BINDIG EXAMPLE</h1>
            <div> 
                Usando doble binding
                <input type="text" :value="mensaje1" @keyup="keyUp($event)">
                <p>{{ mensaje1 }}</p>
            </div>
            <br />
            <div> 
                Usando v-model
                <input type="text" v-model="mensaje2" >
                <p>{{ mensaje2 }}</p>
            </div>
        </div>
    </body>
</html>