body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: grey;
}

.message {
    font-size: 25px;
    color: darkblue;
    font-weight: bold;
    
}

.calculations {
    font-size: 16px;
    font-weight: 400;
}

.calculations span {
    font-weight: bold;;
}


button {
    border-radius: 4px;
    background-color: coral;
    font-size: 16px;
    font-weight: 700;
}

h1 {
    border-top: 1px solid white;
    padding: 10px;
}